.container {
  padding-top: 80px;
}
.non-border-item {
  border: 0;
  padding: 0 0 10px 0;
}
.non-border-item:last-child {
  padding-bottom: 0;
}
.fa {
  margin-right: 10px;
}
.fa-github {
  color: #000;
}
.fa-envelope {
  color: #ED462F;
}
.fa-linkedin-square {
  color: #2478B2;
}
.row {
  margin-bottom: 20px;
}
.slider-mask {
  overflow: hidden;
}
.slider {
  -webkit-animation: slideshow 8s infinite;
  -moz-animation: slideshow 8s infinite;
  -ms-animation: slideshow 8s infinite;
  -o-animation: slideshow 8s infinite;
  animation: slideshow 8s infinite;
}
.three-slide {
  width: 300%;
}
.four-slide {
  width: 400%;
}
.five-slide {
  width: 500%;
}
.slider img {
  display: inline-block;
  float: left;
}
@media all and (min-device-width: 768px) {
  .slider-mask {
    width: 640px;
    height: 400px;
  }
  .slider img {
    width: 640px;
    height: 400px;
  }
  @-moz-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    75% {
      -webkit-transform: translateX(-1280px);
      -moz-transform: translateX(-1280px);
      -ms-transform: translateX(-1280px);
      -o-transform: translateX(-1280px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    75% {
      -webkit-transform: translateX(-1280px);
      -moz-transform: translateX(-1280px);
      -ms-transform: translateX(-1280px);
      -o-transform: translateX(-1280px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-ms-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    75% {
      -webkit-transform: translateX(-1280px);
      -moz-transform: translateX(-1280px);
      -ms-transform: translateX(-1280px);
      -o-transform: translateX(-1280px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-o-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    75% {
      -webkit-transform: translateX(-1280px);
      -moz-transform: translateX(-1280px);
      -ms-transform: translateX(-1280px);
      -o-transform: translateX(-1280px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    75% {
      -webkit-transform: translateX(-1280px);
      -moz-transform: translateX(-1280px);
      -ms-transform: translateX(-1280px);
      -o-transform: translateX(-1280px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
}
@media all and (min-device-width: 480px) and (max-device-width: 768px) {
  .slider-mask {
    width: 320px;
    height: 200px;
  }
  .slider img {
    width: 320px;
    height: 200px;
  }
  @-moz-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
    }
    75% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
    }
    75% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-ms-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
    }
    75% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-o-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
    }
    75% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-320px);
      -moz-transform: translateX(-320px);
      -ms-transform: translateX(-320px);
      -o-transform: translateX(-320px);
    }
    75% {
      -webkit-transform: translateX(-640px);
      -moz-transform: translateX(-640px);
      -ms-transform: translateX(-640px);
      -o-transform: translateX(-640px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
}
@media all and (max-device-width: 480px) {
  .slider-mask {
    width: 256px;
    height: 160px;
  }
  .slider img {
    width: 256px;
    height: 160px;
  }
  @-moz-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-256px);
      -moz-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
      -o-transform: translateX(-256px);
    }
    75% {
      -webkit-transform: translateX(-512px);
      -moz-transform: translateX(-512px);
      -ms-transform: translateX(-512px);
      -o-transform: translateX(-512px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-256px);
      -moz-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
      -o-transform: translateX(-256px);
    }
    75% {
      -webkit-transform: translateX(-512px);
      -moz-transform: translateX(-512px);
      -ms-transform: translateX(-512px);
      -o-transform: translateX(-512px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-ms-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-256px);
      -moz-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
      -o-transform: translateX(-256px);
    }
    75% {
      -webkit-transform: translateX(-512px);
      -moz-transform: translateX(-512px);
      -ms-transform: translateX(-512px);
      -o-transform: translateX(-512px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @-o-keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-256px);
      -moz-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
      -o-transform: translateX(-256px);
    }
    75% {
      -webkit-transform: translateX(-512px);
      -moz-transform: translateX(-512px);
      -ms-transform: translateX(-512px);
      -o-transform: translateX(-512px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @keyframes slideshow {
    25% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-256px);
      -moz-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
      -o-transform: translateX(-256px);
    }
    75% {
      -webkit-transform: translateX(-512px);
      -moz-transform: translateX(-512px);
      -ms-transform: translateX(-512px);
      -o-transform: translateX(-512px);
    }
    85% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
}
