.container {
  padding-top: 80px;
}
.non-border-item {
  border: 0;
  padding: 0 0 10px 0;
}
.non-border-item:last-child {
  padding-bottom: 0;
}
.fa {
  margin-right: 10px;
}
.fa-github {
  color: #000;
}
.fa-envelope {
  color: #ED462F;
}
.fa-linkedin-square {
  color: #2478B2;
}
.row {
  margin-bottom: 20px;
}
.slider-mask {
  overflow: hidden;
}
.slider {
  -webkit-animation: slideshow 8s infinite;
  -moz-animation: slideshow 8s infinite;
  animation: slideshow 8s infinite;
}
.three-slide {
  width: 300%;
}
.slider img {
  display: inline-block;
  float: left;
}
@media all and (min-device-width: 480px) {
  .slider-mask {
    width: 640px;
    height: 400px;
  }
  .slider img {
    width: 640px;
    height: 400px;
  }
  @-moz-keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-640px);
    }
    75% {
      transform: translateX(-1280px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-640px);
    }
    75% {
      transform: translateX(-1280px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-640px);
    }
    75% {
      transform: translateX(-1280px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media all and (max-device-width: 480px) {
  .slider-mask {
    width: 256px;
    height: 160px;
  }
  .slider img {
    width: 256px;
    height: 160px;
  }
  @-moz-keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-256px);
    }
    75% {
      transform: translateX(-512px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-256px);
    }
    75% {
      transform: translateX(-512px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slideshow {
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-256px);
    }
    75% {
      transform: translateX(-512px);
    }
    85% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
