.container {
  padding-top: 80px;
}

.non-border-item {
  border: 0;
  padding: 0 0 10px 0;
}

.non-border-item:last-child {
  padding-bottom: 0;
}

.fa {
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}

.bg-title {
  z-index: -5;
  font-family: Tahoma;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-shadow:
    -2px 0px 0 #555,
    -2px 1px 0 #555,
    6px 2px 0 #555,
    -2px -2px 0 #555;
  left: 0;
}

@media all and (min-device-width: 1200px) {
  .bg-title {
    font-size: 220px;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 992px) {
  .bg-title {
    font-size: 180px;
  }
}

@media all and (min-device-width: 480px) and (max-device-width: 768px) {
  .bg-title {
    font-size: 140px;
  }
}

@media all and (max-device-width: 480px) {
  .bg-title {
    font-size: 100px;
  }
}
