@media (prefers-color-scheme: dark) {
  :root {
    --wash: #3E4042;
    --web-wash: #18191A;
    --warning: hsl(40, 89%, 52%);
    --surface-background: #242526;
    --text-color: #fff;
    --bg-color: #333;
  }
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  .highlight, code {
    background-color: var(--surface-background);
  }
  .highlight .nv {
    color: var(--text-color);
  }
  .highlight .err, .highlight .nb, .highlight .nt, .highlight .o, .highlight .k {
    filter: invert(1);
  }
  .page-title, .post-title, .post-title a {
    color: var(--text-color);
  }
  strong {
    color: var(--text-color);
  }
  .masthead-title a {
    color: var(--text-color);
  }
  .sidebar-toggle {
    color: #fff;
    background-color: #555;
  }
  .sidebar-toggle:before {
    background-image: linear-gradient(
      #fff,
      #fff 20%, #555 20%,
      #555 40%, #fff 40%,
      #fff 60%, #555 60%,
      #555 80%, #fff 80%,
      #fff 100%);
  }
  .message, tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: inherit;
  }
}
