.pagination, .prevnext {
  color: #ccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width:30em) {
  .pagination {
    padding: 2rem 0;
  }
}
