@import "mixins";

.container {
  padding-top: 80px;
}

.non-border-item {
  border: 0;
  padding: 0 0 10px 0;
}

.non-border-item:last-child {
  padding-bottom: 0;
}

.fa {
  margin-right: 10px;
}

.fa-github {
  color: #000;
}

.fa-envelope {
  color: #ED462F;
}

.fa-linkedin-square {
  color: #2478B2;
}

.row {
  margin-bottom: 20px;
}

.slider-mask {
  overflow: hidden;
}

.sliderWidth(@children) {
  width: 100% * @children;
}

.three-slide {
  .animation(three-slideshow 13s infinite);
  .sliderWidth(3);
}

.four-slide {
  .animation(four-slideshow 18s infinite);
  .sliderWidth(4);
}

.five-slide {
  .animation(five-slideshow 22s infinite);
  .sliderWidth(5);
}

.slider-mask img {
  display: inline-block;
  float: left;
}

@media all and (min-device-width: 768px) {
  .slider-mask {
    width: 640px;
    height: 400px;
  }

  .slider-mask img {
    width: 640px;
    height: 400px;
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      35% { @{-}transform: translateX(-640px); }
      70% { @{-}transform: translateX(-640px * 2); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px); }
      40% { @{-}transform: translateX(-640px * 2); }
      60% { @{-}transform: translateX(-640px * 3); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px); }
      35% { @{-}transform: translateX(-640px * 2); }
      55% { @{-}transform: translateX(-640px * 3); }
      75% { @{-}transform: translateX(-640px * 4); }
      95% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media all and (min-device-width: 480px) and (max-device-width: 768px){
  @md: 2;

  .slider-mask {
    width: 640px / @md;
    height: 400px / @md;
  }

  .slider-mask img {
    width: 640px / @md;
    height: 400px / @md;
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      35% { @{-}transform: translateX(-640px / @md); }
      70% { @{-}transform: translateX(-640px * 2 / @md); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px / @md); }
      40% { @{-}transform: translateX(-640px * 2 / @md); }
      60% { @{-}transform: translateX(-640px * 3 / @md); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px / @md); }
      35% { @{-}transform: translateX(-640px * 2 / @md); }
      55% { @{-}transform: translateX(-640px * 3 / @md); }
      75% { @{-}transform: translateX(-640px * 4 / @md); }
      95% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media all and (max-device-width: 480px) {
  @sm: 2.5;

  .slider-mask {
    width: 640px / @sm;
    height: 400px / @sm;
  }

  .slider-mask img {
    width: 640px / @sm;
    height: 400px / @sm;
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      35% { @{-}transform: translateX(-640px / @sm); }
      70% { @{-}transform: translateX(-640px * 2 / @sm); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px / @sm); }
      40% { @{-}transform: translateX(-640px * 2 / @sm); }
      60% { @{-}transform: translateX(-640px * 3 / @sm); }
      85% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      15% { @{-}transform: translateX(-640px / @sm); }
      35% { @{-}transform: translateX(-640px * 2 / @sm); }
      55% { @{-}transform: translateX(-640px * 3 / @sm); }
      75% { @{-}transform: translateX(-640px * 4 / @sm); }
      95% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}