@import "_mixins";

.container {
  padding-top: 80px;
}

.non-border-item {
  border: 0;
  padding: 0 0 10px;
}
.non-border-item:last-child {
  padding-bottom: 0;
}

.fa {
  margin-right: 10px;
}

.fa-github {
  color: #000;
}

.fa-envelope {
  color: #ED462F;
}

.fa-linkedin-square {
  color: #2478B2;
}

.row {
  margin-bottom: 20px;
}

.slider-mask {
  overflow: hidden;
  img {
    display: inline-block;
    float: left;
  }
}

.sliderWidth(@children) {
  width: 100% * @children;
}

.three-slide {
  .animation(three-slideshow 16s infinite);
  .sliderWidth(3);
  position: relative;
}

.four-slide {
  .animation(four-slideshow 20s infinite);
  .sliderWidth(4);
}

.five-slide {
  .animation(five-slideshow 24s infinite);
  .sliderWidth(5);
}

@media screen and (min-device-width: 768px) {
  .slider-mask {
    width: 640px;
    height: 400px;
    img {
      width: 640px;
      height: 400px;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px); }
      80% { @{-}transform: translateX(-640px * 2); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px); }
      50% { @{-}transform: translateX(-640px * 2); }
      75% { @{-}transform: translateX(-640px * 3); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px); }
      40% { @{-}transform: translateX(-640px * 2); }
      60% { @{-}transform: translateX(-640px * 3); }
      80% { @{-}transform: translateX(-640px * 4); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media screen and (min-device-width: 480px)
    and (max-device-width: 768px)
    and (-webkit-min-device-pixel-ratio: 1.5) {
  @md: 1.4;

  .slider-mask {
    width: 640px / @md;
    height: 400px / @md;
    img {
      width: 640px / @md;
      height: 400px / @md;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px / @md); }
      80% { @{-}transform: translateX(-640px * 2 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px / @md); }
      50% { @{-}transform: translateX(-640px * 2 / @md); }
      75% { @{-}transform: translateX(-640px * 3 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px / @md); }
      40% { @{-}transform: translateX(-640px * 2 / @md); }
      60% { @{-}transform: translateX(-640px * 3 / @md); }
      80% { @{-}transform: translateX(-640px * 4 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media screen and (min-device-width: 480px)
    and (max-device-width: 768px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
  @md: 1.8;

  .slider-mask {
    width: 640px / @md;
    height: 400px / @md;
    img {
      width: 640px / @md;
      height: 400px / @md;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px / @md); }
      80% { @{-}transform: translateX(-640px * 2 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px / @md); }
      50% { @{-}transform: translateX(-640px * 2 / @md); }
      75% { @{-}transform: translateX(-640px * 3 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px / @md); }
      40% { @{-}transform: translateX(-640px * 2 / @md); }
      60% { @{-}transform: translateX(-640px * 3 / @md); }
      80% { @{-}transform: translateX(-640px * 4 / @md); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media screen and (max-device-width: 480px) {
  @sm: 2.4;

  .slider-mask {
    width: 640px / @sm;
    height: 400px / @sm;
    img {
      width: 640px / @sm;
      height: 400px / @sm;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px / @sm); }
      80% { @{-}transform: translateX(-640px * 2 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px / @sm); }
      50% { @{-}transform: translateX(-640px * 2 / @sm); }
      75% { @{-}transform: translateX(-640px * 3 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px / @sm); }
      40% { @{-}transform: translateX(-640px * 2 / @sm); }
      60% { @{-}transform: translateX(-640px * 3 / @sm); }
      80% { @{-}transform: translateX(-640px * 4 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media screen and (max-device-width: 480px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  @sm: 2.4;

  .slider-mask {
    width: 640px / @sm;
    height: 400px / @sm;
    img {
      width: 640px / @sm;
      height: 400px / @sm;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px / @sm); }
      80% { @{-}transform: translateX(-640px * 2 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px / @sm); }
      50% { @{-}transform: translateX(-640px * 2 / @sm); }
      75% { @{-}transform: translateX(-640px * 3 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px / @sm); }
      40% { @{-}transform: translateX(-640px * 2 / @sm); }
      60% { @{-}transform: translateX(-640px * 3 / @sm); }
      80% { @{-}transform: translateX(-640px * 4 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}

@media screen and (max-device-width: 480px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2){
  @sm: 1.2;

  .slider-mask {
    width: 640px / @sm;
    height: 400px / @sm;
    img {
      width: 640px / @sm;
      height: 400px / @sm;
    }
  }

  & {
    .keyframes(three-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      40% { @{-}transform: translateX(-640px / @sm); }
      80% { @{-}transform: translateX(-640px * 2 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(four-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      25% { @{-}transform: translateX(-640px / @sm); }
      50% { @{-}transform: translateX(-640px * 2 / @sm); }
      75% { @{-}transform: translateX(-640px * 3 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }

  & {
    .keyframes(five-slideshow);.-frames(@-...) {
      0% { @{-}transform: translateX(0px); }
      20% { @{-}transform: translateX(-640px / @sm); }
      40% { @{-}transform: translateX(-640px * 2 / @sm); }
      60% { @{-}transform: translateX(-640px * 3 / @sm); }
      80% { @{-}transform: translateX(-640px * 4 / @sm); }
      90% { @{-}transform: translateX(0px); }
      100% { @{-}transform: translateX(0px); }
    }
  }
}