<p>如果這篇文章有幫助到你，歡迎請我一杯珍奶～ (也是我更新的動力)</p>
<div class="donation">
  <h4 class="donation__title">Paypal 打賞</h4>
  <a href="//www.paypal.me/hoyangtsai" target="_blank">
    {% if page.path contains '_amp' %}
      <amp-img src="//checkout.paypal.com/pwpp/1.6.1/images/pay-with-paypal.png" width="115" height="44" alt="paypal-donate" layout="fixed"></amp-img>
    {% else %}
      <img src="//checkout.paypal.com/pwpp/1.6.1/images/pay-with-paypal.png" alt="paypal-donate" width="115" height="44" />
    {% endif %}
  </a>
</div>
