<div class="donate-line">
  <img decoding="async" height="298" loading="lazy" src="{{ '/assets/qrcode-linepay.jpg' | absolute_url }}"
      width="298" alt="linepay QR code" class="linepay-qrcode">
  <a href="https://line.me/R/ch/1586237320/?forwardPath=/c2c/transfer&no=20090061084" class="linepay-btn"
    aria-label="linepay-donate">
    <picture>
      <source sizes="(max-width: 608px) 100vw, 608px"
        srcset="/blog/assets/linepay/logo-1920w.webp 1920w, /blog/assets/linepay/logo-1280w.webp 1280w, /blog/assets/linepay/logo-640w.webp 640w, /blog/assets/linepay/logo-320w.webp 320w"
        type="image/webp">
      <img decoding="async" height="69" loading="lazy"
        src="{{ '/assets/linepay/logo.png' | absolute_url }}" width="238" alt="linepay logo">
    </picture>
  </a>
</div>
