<div class="footer">
  <div class="row">
    <ul class="footer-snlist">
      {% for social_item in site.data.socialmedia %}
        {% if social_item.url contains 'http' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = site.url %}
        {% endif %}
        <li>
          <a href="{{ domain }}{{ social_item.url }}" {% if social_item.url contains 'http' %} target="_blank" {% endif %} title="{{ social_item.title }}">
            <span class="fa-stack fa-lg">
              <i class="far fa-circle"></i>
              <i class="fa-stack-1x fa-inverse fa-1x {{ social_item.class }}"></i>
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
