<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <!-- AMP Article -->
  {% if page.path contains '_posts' %}
  {% unless page.skip_amp %}
    <link rel="amphtml" href="{{ page.url | prepend: site.ampdir | prepend: site.baseurl | prepend: site.url }}">
  {% endunless %}
  {% endif %}

  <!-- Search Engine Optimization -->
  {% seo %}

  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}
  {% if page.nofollow == true %}<meta name="robots" content="nofollow">{% endif %}


  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"> -->

  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.png' | absolute_url }}">
  <!-- ios meta -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon" href="{{ '/assets/favicon.png' | absolute_url }}">
  <!-- android meta -->
  <link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/favicon.png' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  <!-- Font Awesome -->
  <link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <script async src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
  <!-- End Font Awesome -->

  <style type="text/css">
    {% capture main_style %}
      {% include style/main.scss %}
    {% endcapture %}
    {{ main_style | scssify }}

    {% if page.style %}
      {{ page.style }}
    {% endif %}
  </style>

  {% if site.facebook.app_id %}
    {% include facebook_jssdk.html %}
  {% endif %}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "url": "{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}",
    "name" : "{{ page.title | escape }}",
    "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "description": "{% if page.description %} {{ page.description }} {% elsif page.content %} {{ page.content | strip_html | truncatewords: 160 }} {% else %} {{ site.description }} {% endif %}",
    "author": {
      "@type": "Person",
      "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author.name }}{% endif %}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}"
    }
  }
  </script>

  {% if site.google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_id }}');
  </script>
  {% endif %}
</head>
