<div class="share">
  <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}"  target="_blank" title="Share on twitter"> <i class="fa fa-twitter meta"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}"  target="_blank" title="Share on LinkedIn"> <i class="fa fa-linkedin"></i></a>
  {% if page.comments %}
    <a href="{{ site.url }}{{ page.url }}#disqus_thread" title="Comments"><i class="fa fa-comments"></i></a>
  {% endif %}
  {% if page.category contains "featured" %}
    <a href="{{ site.url }}/featured" title="Featured"><i class="fa fa-paperclip" title="Featured"></i></a>
  {% endif %}
  <a href="javascript:window.print()" title="Printer friendly format"><i class="fa fa-print"></i></a>
  <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button">
  </div>
</div>
