<div class="post-action">
  <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: site.ampdir }}&amp;via={{ site.owner.twitter }}"  target="_blank" title="Share on Twitter"><i class="fab fa-twitter fa-lg" style="color:#268bd2;"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url | remove: site.ampdir }}"  target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin fa-lg" style="color:#268bd2;"></i></a>
  {% if page.category contains "featured" %}
    <a href="{{ site.url }}/featured" title="Featured"><i class="far fa-paperclip" title="Featured"></i></a>
  {% endif %}
  {% if page.print %}
    <a href="javascript:window.print()" target="_blank" title="Printer friendly format"><i class="far fa-print"></i></a>
  {% endif %}
</div>
