<label class="sidebar-button sidebar-toggle" for="sidebar-checkbox" role="button" tabindex="0" on="tap:sidebar.toggle"></label>

{% if page.path contains '_amp' %}
<amp-sidebar id="sidebar" class="sidebar" layout="nodisplay" side="left">
{% else %}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
{% endif %}

  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a> -->

    {% for link in site.links %}
      {% if link.external %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}" target="_blank">{{ link.title }}</a>
      {% else %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>

  <hr class="gh">
  {% if site.google_search %}
  <div id="searchbox2" style="margin:0 auto; display: table;">
    <div class="searchcont2">
      <!-- span class="searchicon2"><i class="fas fa-search fa-2x"></i></span -->
      <form role="search" method="get" action="{{ site.url }}/cse/">
        <input id="searchString2" name="searchString2" placeholder=" Search" type="text">
      </form>
    </div>
  </div>
  {% endif %}

{% if page.path contains '_amp' %}
</amp-sidebar>
{% else %}
</div>
{% endif %}
