<aside id="sidenav-open">
  <nav>
    <h4>Menu</h4>
    <a class="{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">
      <i class="fas fa-home"></i>&nbsp;<span class="sidenav-title">Home</span>
    </a>
    <a class="{% if page.title == 'Posts' %} active{% endif %}" href="{{ 'posts' | absolute_url }}">
      <i class="fas fa-pencil-alt"></i>&nbsp;<span class="sidenav-title">Posts</span>
    </a>
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="{% if page.url == node.url %} active{% endif %}"
            href="{{ node.url | prepend: site.baseurl }}"
          >
            <i class="fas {{ 'fa-' | append: node.title | downcase }}"></i>&nbsp;<span class="sidenav-title">{{ node.title }}</span>
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if site.github.is_project_page %}
      <div class="sidenav-footer">
        <p class="sidenav-footer__para"><a href="{{ site.github.repository_url }}">View on GitHub</a></p>
        <!-- <p class="sidenav-footer__para">{{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p> -->
      </div>
    {% endif %}

    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </nav>

  <a href="#" id="sidenav-close" title="Close Menu" aria-label="Close Menu"></a>
</aside>
