@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.woff');
}

[class^="icon-"], [class*=" icon-"] {
  font: normal normal normal 14px/1 'icomoon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feedly-o:before {
  content: "\e600";
}
.icon-feedly:before {
  content: "\e601";
  color: #2bb24c;
}
