@import "lib/_mixins";
@import "lib/_normalize";
@import "mod/_footer";
@import "mod/_table";
@import "mod/_slidetags";
@import "mod/_sidebar";
@import "mod/_pagination";
@import "mod/_blockquote";
@import "mod/_code";
// @import "mod/_font-awesome";

h2, h4, h5, h6 {
  margin-top: 1rem;
}
dd, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
}
abbr, dt {
  font-weight: 700;
}
dl, ol, p, pre, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
img, pre {
  display: block;
}

.wrap, hr {
  position: relative;
}
* {
  box-sizing: border-box;
}
a {
  color: #268bd2;
  text-decoration: none;
  cursor: pointer;
  outline:none;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  font-size: 16px;
  line-height: 1.5;
}
body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Hiragino Sans GB", "Heiti TC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

@media (min-width:38em) {
  html {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  text-rendering: optimizeLegibility;
    font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  font-size: 1rem;
}

strong {
  color: #303030;
}
hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
img {
  margin: 0 0 1rem;
  max-width: 100%;
  object-fit: contain;
}
.message, table {
  margin-bottom: 1rem;
}
table, td, th {
  border: 1px solid #e5e5e5;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td, th {
  padding: .25rem .5rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.message {
  padding: 1rem;
  color: #717171;
}
.container {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
}
.wrap {
  width: 100%
}
@media (min-width:38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width:56em) {
  .container {
    max-width: 48rem;
  }
}
.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 5;
}
.masthead-title, .sidebar-item p:last-child {
  margin-bottom: 0;
}
.masthead-title {
  margin-top: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: silver;
  letter-spacing: 0;
}
@media (max-width:48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

.page {
  margin-bottom: 2em;
}

.post-date, .post-tags {
  margin-bottom: .5em;
}
.page-title, .post-title, .post-title a {
  color: #303030;
}
.page-title, .post-title {
  margin-top: 0;
}
.post-date, .post-tags {
  color: #9a9a9a;
}
.post-date {
  .permalink {
    padding-left: .5em;
  }
}

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0 solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
}
.related-posts li a:hover small {
  color: inherit;
}

.layout-reverse .sidebar {
  left: auto;
  right: -14rem;
}
.layout-reverse .sidebar-toggle {
  left: auto;
  right: 1rem;
}
.layout-reverse #sidebar-checkbox:checked~.sidebar, .layout-reverse #sidebar-checkbox:checked~.sidebar-toggle, .layout-reverse #sidebar-checkbox:checked~.wrap {
  transform: translateX(-14rem);
}
.theme-base-08 #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-08 .sidebar, .theme-base-08 .sidebar-toggle:active {
  background-color: #ac4142;
}
.theme-base-08 .container a, .theme-base-08 .related-posts li a:hover, .theme-base-08 .sidebar-toggle {
  color: #ac4142;
}
.theme-base-09 #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-09 .sidebar, .theme-base-09 .sidebar-toggle:active {
  background-color: #d28445;
}
.theme-base-09 .container a, .theme-base-09 .related-posts li a:hover, .theme-base-09 .sidebar-toggle {
  color: #d28445;
}
.theme-base-0a #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0a .sidebar, .theme-base-0a .sidebar-toggle:active {
  background-color: #f4bf75;
}
.theme-base-0a .container a, .theme-base-0a .related-posts li a:hover, .theme-base-0a .sidebar-toggle {
  color: #f4bf75;
}
.theme-base-0b #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0b .sidebar, .theme-base-0b .sidebar-toggle:active {
  background-color: #90a959;
}
.theme-base-0b .container a, .theme-base-0b .related-posts li a:hover, .theme-base-0b .sidebar-toggle {
  color: #90a959;
}
.theme-base-0c #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0c .sidebar, .theme-base-0c .sidebar-toggle:active {
  background-color: #75b5aa;
}
.theme-base-0c .container a, .theme-base-0c .related-posts li a:hover, .theme-base-0c .sidebar-toggle {
  color: #75b5aa;
}
.theme-base-0d #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0d .sidebar, .theme-base-0d .sidebar-toggle:active {
  background-color: #6a9fb5;
}
.theme-base-0d .container a, .theme-base-0d .related-posts li a:hover, .theme-base-0d .sidebar-toggle {
  color: #6a9fb5;
}
.theme-base-0e #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0e .sidebar, .theme-base-0e .sidebar-toggle:active {
  background-color: #aa759f;
}
.theme-base-0e .container a, .theme-base-0e .related-posts li a:hover, .theme-base-0e .sidebar-toggle {
  color: #aa759f;
}
.theme-base-0f #sidebar-checkbox:checked~.sidebar-toggle, .theme-base-0f .sidebar, .theme-base-0f .sidebar-toggle:active {
  background-color: #8f5536;
}
.theme-base-0f .container a, .theme-base-0f .related-posts li a:hover, .theme-base-0f .sidebar-toggle {
  color: #8f5536;
}
.sidebar-overlay #sidebar-checkbox:checked~.wrap {
  transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked~.sidebar-toggle {
  box-shadow: 0 0 0 .25rem #fff;
}
.sidebar-overlay #sidebar-checkbox:checked~.sidebar {
  box-shadow: .25rem 0 .5rem rgba(0, 0, 0, .1);
}
.layout-reverse.sidebar-overlay #sidebar-checkbox:checked~.sidebar {
  box-shadow: -.25rem 0 .5rem rgba(0, 0, 0, .1);
}
.post-author {
  margin-bottom: 20px;
}
.post-author h4 {
  margin-top: 0;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.text-center img {
  margin: 0 auto;
}
.text-footer {
  margin: 0 auto 1rem;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%}
.post-avatar {
  max-width: 200px;
  margin: 0 auto 12px;
}
.tweets iframe {
  width: 100%
}

.tag-ts, .tag-ts:visited {
  color: #888;
}
.ytube-video-container {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2px;
  height: 0;
  overflow: hidden;
}
.post-list li:after, .tag-box:after {
  content: "";
  display: table;
  clear: both;
}
.ytube-video-container embed, .ytube-video-container iframe, .ytube-video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%}
.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
}
.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: .875rem;
  margin-bottom: 1.5rem;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: .625rem;
  line-height: 2.4;
  margin-bottom: 1.5rem;
}
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  margin-bottom: 0;
}
.post-list li>a {
  border-bottom-width: 0;
}
.post-list a>span {
  float: right;
}
.post-list .entry-date {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 0;
  text-transform: uppercase;
  display: none;
}
@media screen and (min-width:48em) {
  .post-list .entry-date {
    display: inline;
  }
  .post-list .excerpt {
    width: 70%
  }
}
.post-list .excerpt {
  display: block;
  float: none;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
  margin-bottom: 0;
}
@media screen and (min-width:62.5em) {
  .post-list .excerpt {
    width: 60%
  }
}
.tags-ts {
  list-style: none;
  padding: 0;
  text-align: justify;
}
.tags-ts li {
  display: inline-block;
  margin: 0 25px 25px 0;
}
.tags-ts li:last-child {
  margin-right: 0;
}
.tag-ts {
  background: #ddd;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #ccc;
  padding: 2px 8px;
}
.tag-ts:hover {
  background: #ccc;
  color: #777;
}

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}
hr.style17:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #fff;
  color: #8c8b8b;
  font-size: 18px;
}
hr.style10 {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff;
}
hr.gh, hr.transp {
  border: 0;
  color: #999;
  padding: 0;
}

hr.gh {
  height: 4px;
  margin: 1rem 0;
}

hr.transp {
  background: 0 0;
  height: 2px;
  margin: .5rem 0;
}

.qrcode {
  display: none;
}
.gcsc-branding, .gsc-result-info, .gsc-url-bottom, .gsc-url-top {
  display: none;
}
.searchbox2 {
  margin: 80px auto;
  width: 180px;
  height: 45px;
}
.searchcont2 {
  width: 180px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.searchcont2 input#searchString2 {
  width: 180px;
  height: 45px;
  background: rgba(255, 255, 255, 0);
  border: 4px inset #202020;
  border-radius: 75px;
  font-size: 1rem;
  float: left;
  color: #999;
  padding-left: 5px;
  transition: width .55s ease;
}
.searchcont2 input#searchString2::-webkit-input-placeholder {
  color: #999;
}
.searchcont2 input#searchString2:-moz-placeholder {
  color: #999;
}
.searchcont2 input#searchString2::-moz-placeholder {
  color: #999;
}
.searchcont2 input#searchString2:-ms-input-placeholder {
  color: #999;
}
.searchcont2 input#searchString2:active, .searchcont2 input#searchString2:focus {
  outline: #202020 outset 0;
  width: 180px;
  background: rgba(255, 255, 255, 0);
  box-shadow: #B3B3B3 5px 5px 5px;
}
.searchcont2:hover input#searchString2 {
  width: 180px;
  outline: #999 groove 0;
  box-shadow: 0 0 0 2pt #999;
}
.gs-webResult {
  border: 0 solid #eee;
  padding: .5em;
}
.gsc-selected-option-container.gsc-inline-block {
  max-width: 90%;
  min-width: 84px;
}
.gs-title a {
  font-size: 16px;
}
.gs-snippet {
  font-size: 14px;
}
.gs-snippet b, .gs-title b {
  font-weight: 700;
  color: #000;
}
.gsc-cursor {
  font-size: 1.5em;
  padding: 4px 8px;
  border: 0 solid #FFF;
  background-color: #FFF;
  color: #999;
}

.gmap-iframe {
  border: none;
  display: block;
  width: 100%;
  max-width: 600px;
  height: 450px;
  margin-bottom: 1em;
}

.em-red {
  color: #ff0000;
  font-weight: bold;
}

.txt-red {
  color: #ff0000;
}

// .post-action {
//   a {
//     display: inline-block;
//     vertical-align: top;
//   }
// }

.post-content {
  padding: 2em 0 0;
  @extend %word-break;
}

.donation {
  img {
    display: inline-block;
    margin-bottom: 0;
  }
}
