.slidetags {
  zoom: 1;
  list-style-type: none;
  @extend %clearfix;
  padding: 0;

  li {
    position: relative;
    float: left;
    margin: 0 0 18px 25px;

    &:after {
      content: '';
      top: 10px;
      right: -2px;
      width: 5px;
      height: 6px;
      background: #eb6b22;
      border-radius: 3px 0 0 3px;
      box-shadow: inset 1px 0 #99400e;
    }

    &:active {
      margin-top: 1px;
      margin-bottom: 7px;
    }
  }

  li:after, span {
    position: absolute;
    z-index: 2;
    opacity: .9;
  }

  a, span {
    display: block;
    box-sizing: border-box;
  }

  a {
    height: 26px;
    line-height: 23px;
    padding: 0 9px 0 8px;
    font-size: auto;
    color: #555;
    text-shadow: 0 1px #fff;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .7), 0 1px 2px rgba(0, 0, 0, .05);

    &:hover span {
      padding: 0 7px 0 6px;
      max-width: 40px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15), 1px 1px 2px rgba(0, 0, 0, .2);
    }
  }

  span {
    top: 1px;
    left: 100%;
    overflow: hidden;
    max-width: 0;
    height: 24px;
    line-height: 21px;
    padding: 0 0 0 2px;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #d15813 #c85412 #bf5011;
    border-radius: 0 2px 2px 0;
    background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
    transition: .3s ease-out;
    transition-property: padding, max-width;
  }
}
