---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-4">
        <img class="img-rounded img-responsive" src="img/IMG_0942.jpg" width="300" height="300">
      </div>
      <div class="col-sm-7 col-md-8 col-lg-8">
        <h2>Ho-Yang Tsai</h2>
        <p>Kaohsiung City, Taiwan

        <ul class="list-group">
          <li class="list-group-item non-border-item"><a href="pdf/Resume.pdf" target="add">Resume</a></li>
          <li class="list-group-item non-border-item"><a href="pdf/个人简历.pdf" target="add">个人简历</a></li>
          <li class="list-group-item non-border-item"><a href="pdf/履歷表.pdf" target="add">履歷表</a></li>
        </ul>
      </div>
    </div>

    <br />

    {{ content }}
  </div>

</article>