---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div id="about" class="post-content" itemprop="articleBody">
    <section id="info">
      <div class="profile-photo">
        <img class="img-responsive" src="img/IMG_0942.jpg" width="300" height="300">
      </div>
      <div class="detail">
        <h2>Ho-Yang Tsai</h2>
        <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Shenzen City, China</p>
        <p><i class="fa fa-home"></i>&nbsp;&nbsp;Kaohsiung City, Taiwan</p>
        <!-- <ul class="resume--list">
          <li class="resume--item"><a href="pdf/Resume.pdf" target="resume">Resume</a></li>
          <li class="resume--item"><a href="pdf/个人简历.pdf" target="resume">个人简历</a></li>
          <li class="resume--item"><a href="pdf/履歷表.pdf" target="resume">履歷表</a></li>
        </ul> -->
      </div>
    </section>

    <section id="description">
      <p>Currently, I'm working as a front-end engineer. Besides of the work duty, I like to develop or contribute some stuff, which are most based on front-end skills.</p>
      <p>My first job was to drive Java SE with MS SQL Server to customize a web-based PTC Windchill PLM system features, and use Javascript to customize PTC Arbortext document software automations for one year and half.</p>
      <p>After the first career, I started to develop Firefox OS apps and web applications, these were based on HTML5 like cloud drive and restaurant search system.
      In the cloud drive, I involved with back-end RESTful service development and front-end media files preview on the web. In the restaurant search system, I was in charge of all of the beck-end REST APIs for the web and native apps.</p>
      <!-- <p>Aside from the main backend development job, I personally prefer front-end developments, so I follow the trends of web technology, individually I study some of front-end tools and frameworks like nodejs, angularjs and react.</p> -->
      <p>My characteristics are well-organized, work efficiently and high self-demanded to productivities in which the tasks responsible for.</p>
    </section>

    <section id="work">
      <h3>Work</h3>
      <ul class="none-style-list">
        <li class="list-item">
          <h4>Social Hub - built by pure javascript with Material Design Lite</h4>
          <a target="add" href="https://chrome.google.com/webstore/detail/social-hub/ghbmmfdmaegmffeogibdgaijaelfaijm">https://chrome.google.com/webstore/detail/social-hub/ghbmmfdmaegmffeogibdgaijaelfaijm</a>
        </li>
        <br />
        <li class="list-item">
          <h4>IM Hub - built by React with Material UI</h4>
          <p>Support most of popular chatting web applications like Messenger, Hangouts, Telegram, Skype, Whatsapp and WeChat. Let you switch between different IM apps instantly.
          <p><a target="add" href="https://chrome.google.com/webstore/detail/im-hub/hbmefbfbophhojlhbgbonngkehnacnke">https://chrome.google.com/webstore/detail/im-hub/hbmefbfbophhojlhbgbonngkehnacnke</a>
        </li>
      </ul>
    </section>

    <section id="projects">
      <h3>Projects</h3>
      <h4>FireFox OS Web App - Clock</h4>
      <div class="fotorama"
        data-nav="thumbs" data-loop="true" data-swipe="true">
        <img src="img/newclock/home.jpg" />
        <img src="img/newclock/stopwatch.jpg" />
        <img src="img/newclock/timer.jpg" />
      </div>
      <h4>Cloud Drive (Desktop)</h4>
      <div class="fotorama"
        data-nav="thumbs" data-loop="true" data-swipe="true">
        <img class="img-responsive" src="img/eos/home.jpg" />
        <img class="img-responsive" src="img/eos/imageviewer.jpg" />
        <img class="img-responsive" src="img/eos/musicplayer.jpg" />
        <img class="img-responsive" src="img/eos/videoplayer.jpg" />
      </div>
      <h4>Cloud Drive (Mobile)</h4>
      <div class="fotorama"
        data-nav="thumbs" data-loop="true" data-swipe="true">
        <img class="img-responsive" src="img/helios/3.png" />
        <img class="img-responsive" src="img/helios/4.png" />
        <img class="img-responsive" src="img/helios/5.png" />
        <img class="img-responsive" src="img/helios/7.png" />
        <img class="img-responsive" src="img/helios/8.png" />
        <img class="img-responsive" src="img/helios/9.png" />
        <img class="img-responsive" src="img/helios/10.png" />
        <img class="img-responsive" src="img/helios/11.png" />
        <img class="img-responsive" src="img/helios/13.png" />
        <img class="img-responsive" src="img/helios/14.png" />
        <img class="img-responsive" src="img/helios/16.png" />
        <img class="img-responsive" src="img/helios/18.png" />
      </div>
      <h4>Restaurant Search</h4>
      <div class="fotorama"
        data-nav="thumbs" data-loop="true" data-swipe="true">
        <img class="img-responsive" src="img/hungry/popularstore.jpg" />
        <img class="img-responsive" src="img/hungry/locationstore.jpg" />
        <img class="img-responsive" src="img/hungry/minidiningbrief.jpg" />
        <img class="img-responsive" src="img/hungry/storedetail.jpg" />
        <img class="img-responsive" src="img/hungry/fuzzysearch.jpg" />
      </div>
    </section>
  </div>
</article>
