<!DOCTYPE html>

{% if page.path contains '_amp' %}
<html amp>
{% include amp-head.html %}
{% else %}
<html>
{% include head.html %}
{% endif %}

<body>
  {% include sidebar.html %}

  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
      {% include footer.html %}
    </div>
  </div>

</body>
</html>
