<!DOCTYPE html>

{% if page.path contains '_amp' %}
<html ⚡>
{% include amp-head.html %}
{% else %}
<html>
{% include head.html %}
{% endif %}

  <body>
    {% include sidebar.html %}

    <main class="wrap">
      <header>
        <a href="#sidenav-open" id="sidenav-button" class="hamburger" title="Open Menu" aria-label="Open Menu">
          <svg viewBox="0 0 50 40" role="presentation" focusable="false" aria-label="trigram for heaven symbol">
            <line x1="0" x2="100%" y1="10%" y2="10%" />
            <line x1="0" x2="100%" y1="50%" y2="50%" />
            <line x1="0" x2="100%" y1="90%" y2="90%" />
          </svg>
        </a>
        <h1 class="masthead-title">
          <a href="{{ '/' | prepend: site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <article class="container content">
        {{ content }}
      </article>
    </main>

    <script src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
